
.inter-normal-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
     font-style: normal;
  }
  /* shared style */
  .text-center{
    text-align: center;
  }
.share-style{
  color: crimson;
}

*{
  margin: 0;
  border: 0;
}


  /* header banner style  */
 


.banner-contant{
    height: 600px;
    background-image:linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: 1200px 600px;
    margin-top: 20px;
   
  } 
  


  .banner-contant .banner-gretting{
    font-size: 32px;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
    padding-top: 150px;
  }
.banner-contant .banner-titel{
    font-size: 60px;
    font-weight: 700px;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    /* padding-top: 50px; */
}
.banner-contant .banner-div{
  width: 632px;
  height: 300px;
  margin: 0px auto;


}
/* section style */

.section-contant{
  text-align: center;
  margin-top: 50px;
}
.section-titel{
  font-size: 88px;
  color: red;
  font-weight: 700;

}
.section-subtitel{
  color: red;
  font-size: 24px;
  font-weight: 500;
  padding-top: 20px;
}
.section-subtitel2{
  color: black;
  font-size: 48px;
  font-weight: 700;
  padding-top: 20px;
}
 img{
  width: 602px;
  height: 400px;
}
/* section 2 banner style  */
.welcome-contant{
  padding-top: 100px;
  height: 600px;
  display: flex;
  border-radius: 16px;

  background-image:linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url(../images/Vectorrr.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1200px 600px;
  align-items: center;
  justify-content: center;
  gap: 40px;
padding-bottom: 50px;
}
.banner-div2{
  width: 990px;
  height: 500px;
  padding-left: 200px;
}
.welcome-img{
  width:350px;
  height: 500px;
  padding-right: 200px;
}
.welcome-img img{
  margin-bottom: 50px;
  width: 350px;
  height: 500px;
}
.welcome-titel{
  /* width: 700px; */
  color: rgb(255, 255, 255);
font-size: 64px;
font-weight: 900;
text-align: left;
padding-top: 100px;
}
.welcome-gretting{
  
  color: rgba(255, 255, 255, 0.8);

font-size: 18px;
font-weight: 400;

letter-spacing: 0%;
text-align: left;
padding-top: 30px;
}
.btn-primary{
  color: rgba(245, 236, 236, 0.938);

font-size: 20px;
font-weight: 700;
text-align: center;
text-transform: uppercase;
margin-top: 40px;
background: transparent;
}
/* place section style */
.place-section{
  height: 500px;
   background-color: #faf2f2;
   
   margin: 50px 200px;
   border-radius: 10px 10px;
   background-position: center;

  
}
.place-contant{
 
  text-align: center;
  margin: 10px auto;
  padding-top: 160px;
  
}
.address{
  padding-bottom: 30px;
  color: rgb(12, 105, 105);
}
.time{
  padding-bottom: 30px;
  color: rgb(24, 131, 131);
}
.date{
  padding-bottom: 30px;
  color: rgb(16, 133, 133);
}
.btn-secondary{
  background-color: rgb(148, 192, 181);
  color: #60b105;
  padding: 10px 10px;
  font-weight: 700;
  border-radius: 10px 10px ;
}
/* best offer style */


.best-offer-container{
  height: 600px;
  display: flex;
  align-items: center;
  justify-content:space-around;
  gap: 50px;
  margin: 10px 100px;
  background-color: #e49aeb9c;
  border-radius: 10px 10px;
 
}
.best-offer-div{
  width: 300px;
  height: 255px;
  padding-left: 50px;
}

.best-offer-titel{
  color: red;
  font-size: 24px;
  font-weight: 500;
  text-align: left;

}
.best-offer-sub{
  color: black;
  font-weight: 900;
  font-size: 48px;
  text-align: left;
}
.best-offer-gretting{
  color: rgba(0, 0, 0, 0.589);
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  padding-top: 40px;
}

.happy-div{
  box-sizing:border-box;
border: 15px solid rgb(255, 0, 0);
width: 300px;
height: 300px;
border-radius: 150px 150px;


}
.happy-img{
  width: 270px;
  height: 270px;


}
.new-year-div{
  width: 276px;

}
.year-titel{
  font-size: 48px;
  font-weight: 700;
  color: red;
  text-align: left;
}
.year-gretting{
  color: black;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}
.year-img{
  padding-top: 20px;
  width: 140px;
  height: 140px;
 
}
/* discount section style */
.discount{
  height: 900px;
  background-image: url(../images/Rectangle\ 2.png);
  background-repeat: no-repeat;
  background-position: bottom;
  /* margin: 0px 80px; */
  background-size: 1200px 200px;
}
.img-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.discount-function{
  color: rgb(2, 27, 8);

font-size: 24px;
font-weight: 700;
padding: 20px;
text-align: center;
}
.discount-titel{
  color: rgb(12, 8, 0);
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  padding: 20px ;
}
.discount-gretting{
  color: #4b5e36;
  /* width: 100px; */
  height: 200px;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  padding: 20px 300px;
}
.discount-amount{
  width: 300px;
  height: 300px;
  margin-bottom: 500px;
  padding-right: 100px;
}
.discount-box{
  width: 400px;
  height: 400px;
  padding-bottom: 300px;
  padding-left: 100px;
}
/* roduct section style */
.porduct-box{
  height: 1200px;
  /* border: 10px solid red; */
 
}
.product-container{
  padding: 50px 100px;
  border: 2px solid red;
  margin-top: 50px;
}
.pro-img{
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border: 5px solid green;
}
.rac-img{
  width: 324px;
  height: 350px;
}
.textdiv{
  background-color: #fcfcfc;

}
.pro-titel{
  font-size: 20px;
  font-weight: 400;
  color: red;

}
.pro-sub-titel{
  color: rgb(22, 18, 1);
  font-size: 48px;
  font-weight: 700;
}
.pro-greeting{
  color: #4b5e36;
  font-size: 20px;
  font-weight: 400;
  width: 600px;
  padding-bottom: 20px;
  

}